<h3>Перевод нового текста</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inline-block">
    <app-languages-select
      [formControl]="sourceControl"
      [label]="'Язык оригинала'"
      ngDefaultControl
    ></app-languages-select>
  </div>
  <div class="inline-block" style="margin: 5px;">
    <button mat-icon-button (click)="swapLanguages($event)">
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </div>
  <div class="inline-block">
    <app-languages-select
      [formControl]="targetControl"
      [label]="'Язык перевода'"
      ngDefaultControl
    ></app-languages-select>
  </div>
  <div>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Текст для перевода</mat-label>
      <textarea matInput [formControl]="textControl" required rows="10"></textarea>
    </mat-form-field>
  </div>
  <div class="align-right">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
      Перевести
    </button>
  </div>
</form>
