<mat-toolbar color="primary">
  <img src="https://angular.io/assets/images/logos/angular/shield-large.svg" title="Home" alt="Home" class="logo">
  <span class="title">{{ title }}</span>
  <button
    mat-button
    routerLink="/translations"
    routerLinkActive="active"
  >
    Список ранее переведенных текстов
  </button>
  <button
    mat-button
    routerLink="/translation-form"
    routerLinkActive="active"
  >
    Перевод нового текста
  </button>
</mat-toolbar>
<div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
